<%= form_for [ @group, @invite ] do |f| -%>

  <p> Email: <%= f.text_field :email %> </p>
  <p> First Name: <%= f.text_field :first_name %> </p>
  <p> Last Name: <%= f.text_field :last_name %> </p>

  <%= f.submit "Send" %>
<% end -%>
