
<div class="page-header-1">
<div class="pull-left">
<h1><%#= current_member.full_name %></h1>
</div>
<div class="pull-right">

<ul class="stats">
<li class='orange'>
<i class="icon-globe"></i>
<div class="details">
<span class="big"><%= @groups.count %></span>
<span>Teams</span>
</div>
</li>
<li class="lime">
<i class="icon-spinner"></i>
<div class="details">
<span class="big">
  <%= @groups.active.count %>
</span>
<span>Active</span>
</div>
</li>

<li class="red">
<i class="icon-ban-circle"></i>
<div class="details">
  <span class="big">
    <%= @groups.inactive.count %>
  </span>
<span>Not Active</span>
</div>
</li>
</ul>
</div>
</div>




  <% for group in current_member.groups -%>
<div class="row-fluid">
  <div class="span12">
  <div class="box box-bordered box-color blue">
  <div class="box-title">
    <h3></i><%= group.name %></h3>
  <div class="actions">
  <a href="#" class="btn btn-mini content-slideUp"><i class="icon-angle-down"></i></a>
  </div>
  </div>
  <div class="box-content" style="display:none;">

      <div class="span4">
        <ul class="stats cycle-stats">
        <li class='lime'>
          <i class="icon-calendar"></i>
          <div class="details">
            <span class="big">
              <strong><%= Date.today.to_s(:long) %></strong>
            </span>
            <span>Joined</span>
          </div>
        </li>
        <li class='orange'>
          <span style="float:left">
          <i class="icon-group"></i>
          <div class="details">
            <span class="big">
              <%= group.members.count %>
            </span>
            <span>
            <a href="#modal-<%= group.id %>" role="button" class="btn" data-toggle="modal" style="background:#F8A31F;font-size:12px;padding:0">Members</a>
            </span>
          </div>
          </span>

            <span style="float:right">
            </span>


            <!-- modals -->
            <div id="modal-<%= group.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><%= group.name %> Members</h3>
            </div>
            <div class="modal-body">
              <% for member in group.members -%>
                <p> <%= member.full_name %> </p>
              <% end -%>
            </div>
            <div class="modal-footer">
            </div>
            </div>
            <!-- modals -->




        </li>

        <li class='green'>
        <i class="icon-money"></i>
        <div class="details">
          <span class="big">
            <%= group.cycle_amount.to_money.format(:symbol => true) %>
          </span>
        <span>Contribution</span>
        </div>
        </li>

        <!--
        <li class='brown'>
        <i class="">
          <img alt="" src="/img/demo/user-avatar.jpg">
        </i>
        <div class="details">
          <span class="big">
            hello
          </span>
        <span>Recipient</span>
        </div>
        </li>
        <li class='red'>
        <i class="icon-legal"></i>
        <div class="details">
          <span class="big">
            hello
          </span>
        <span>Penalty Deadline</span>
        </div>
        </li>
        -->
      </ul>
    </div>

    <div class="span8">
      <div style="border:solid 1px #DDD"  >
        <%= form_tag '', :class => "form-horizontal form-bordered" do -%>
        <div class="control-group">
          <label class="control-label" for="textfield">CONTRIBUTIONS </label>
          <div class="controls">
            <div class="section">
              Each member pays
              <strong>
              <%= group.cycle_amount.to_money.format(:symbol => true) %>
              </strong>
              every
              <strong>
                <%= pluralize(group.payment_cycle_quantity,
                              group.payment_cycle_unit.to_s.chomp('s')) %>
              </strong>
            </div>

            <div class="section">
              Currency used is
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">PENALTY</label>
          <div class="controls">
            <div class="section">
              Members must pay a penalty of
              <strong>
              <%= group.penalty_amount.to_money.format(:symbol => true) %>
              </strong>

              if their payment is not received
              <strong>
              <%= pluralize(group.penalty_cycle_quantity,
                            group.penalty_cycle_unit.to_s.chomp('s')) %>
              </strong>
              after the cycle starts
            </div>

            <div class="section">
              Defaulting members are alerted
              <strong>
              <%= group.penalty_alert_timespan_quantity %>
              <%= group.penalty_alert_timespan_unit %>
              </strong>
              before penalty deadline
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>

  </div>
  </div>
  </div>
</div>
  <% end -%>

