<!-- Grid row -->
<div class="row">
  <!-- Data block -->
  <article class="span9 data-block">
    <header>
            <h2><span class="icon-group"></span>&nbsp; Start a new team</h2>
    </header>
    <section class="tab-content">
      <%= form_for @group, url: hub_groups_path,
        html: { class: "form-horizontal no-margin" } do |f| -%>
        <%= render 'app/groups/groups/form', f: f %>
        <div class="form-actions">
          <button class="btn btn-alt btn-large btn-primary" type="submit">Create Team!</button>
        </div>
      <% end -%>
    </section>
    <footer>
    <p> Remember to be realistic when setting rules for the team </p>
    </footer>
  </article>
  <!-- /Data block -->

  <!-- Data block -->
  <article class="span3 data-block">
    <section class="tab-content">

<h4><span class="icon-question-sign"></span> Quick Tip</h4>
<p> Starting your own money team is really easy.
Simply setup the group and invite your friends! </p>

<p> You'll need to provide the following to complete setup: </p>

<dl>
<dt>Team Name & Description</dt>
<dd>This is how you'll refer to your team.
Pick a catchy name and a description
that best describes the members</dd>
<dt>Payments</dt>
<dd>Set the payment schedule for the team here</dd>
<dt>Penalties</dt>
<dd>You can set rules concerning penalties for the group here</dd>
<dt>Alerts</dt>
<dd>Choose when and how members are alerted</dd>
</dl>


    </section>
  </article>
  <!-- /Data block -->
</div>
<!-- /Grid row -->
