<% if activity.trackable %>
<p> <%= activity.recipient.full_name %> was moved from
<%= activity.parameters[:previous_position].try(:ordinalize) %> to
<%= activity.trackable.cycle_position.ordinalize %> place
</p>
<%= render 'public_activity/timestamp', activity: activity %>
<% end %>
