<span>
  <time>
  <% if activity.created_at > 1.day.ago  %>
      <%= time_ago_in_words(activity.created_at) %> ago
  <% else %>
      <%= activity.created_at.strftime("%h %e") %>
  <% end %>
  </time>
</span>
