<% if payments.present? %>
<thead>
  <tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Paid To / Received From</th>
    <th>Date</th>
    <th>Team</th>
    <th>Remarks</th>
  </tr>
</thead>
<tbody>
  <% for payment in payments -%>
  <tr>
    <td>
      <% if payment.recipient == current_member %>
      <span class="label label-success"> Received</span>
      <% else %>
      <span class="label label-important"> Paid</span>
      <% end %>
    </td>
    <td><%= payment.amount.to_money.format(symbol: true) %></td>
    <td>
      <% if payment.recipient == current_member %>
        <%= payment.member.full_name %>
      <% else %>
        <%= payment.recipient.full_name %>
      <% end %>
    </td>
    <td><%= payment.paid_at.try(:to_s,:long) %></td>
    <td><%= payment.cycle.group.name %></td>
    <td><%= "Round #{ payment.cycle.round }, Cycle #{payment.cycle.number}" %></td>
  </tr>
  <% end -%>

  <br/>

  <tr style="font-size:1.4em;">
    <td><strong>TOTAL:</strong></td>
    <td><strong><%= payments.sum(&:amount).to_money.format(symbol: true) %></strong></td>
    <td colspan="4"></td>
  </tr>
</tbody>
<% else %>

  <div id="error_message">
    <span style="display:table;margin: 0 auto;"> No payments found </span>
  </div>

<% end %>
