<% content_for :js_document_ready do -%>
$(".filterbox").bind("ajax:before", function(){
   $('#payments_table tr').remove(); // clear rows
   $('#error_message').remove(); // remove error message
   $('#ajax_error_message').hide(); // hide error message
   $(".ajax_loader").show(); // show loader
})

$(".filterbox").bind("ajax:error", function(){
   $(".ajax_loader").hide();
   $("#ajax_error_message").show();
})

$(".filterbox").bind("ajax:complete", function(){ $(".ajax_loader").hide(); })
<% end -%>

<!-- Grid row -->
<div class="row">

<!-- Data block -->
<article class="span9 data-block">
<header>
<h2>Payment History </h2>
<ul class="data-header-actions" style="height:10px">
<li>
<%= form_tag hub_payments_path, remote: true,
                                method: :get,
                                class:  "filterbox" do |f| -%>
<div class="control-group">
<div class="controls">
<%= select_tag :payment_type,
    options_for_select([["Paid", "paid"],
                        ["Received", "received"]]),
    class: "input-small",
    include_blank: "All" %>
                   &nbsp;
                   <!--
<%#= select_tag :group_id,
    options_from_collection_for_select(current_member.groups, :id, :name),
    include_blank: true,
    class: "input-medium" %>
                   &nbsp;
                   -->
<%= select_tag :month,
    options_for_select(Date::MONTHNAMES.
                    each_with_index.
                    collect{|m, i| i == 0 ? ["", nil] : [m, i]},
                    selected: @month), class: "input-small" %>
                   &nbsp;
<%= select_tag :year,
    options_for_select(Date.today.year.to_i.downto(2011).
                     collect{|d| [d, d]},
                     selected: @year),
    class: "input-small",
    include_blank: true %>
                   &nbsp;
  <button class="btn btn-alt btn-primary" type="submit">Filter</button>
</div>
</div>

<% end -%>
</li>
</ul>
</header>
<section>

<center id="title"><h3><%= @title %></h3></center>

<table id="payments_table" class="table table-striped table-bordered table-condensed table-hover no-margin">
  <%= render "payment_list", payments: @payments, title: @title %>
</table>

<!-- ajax shit -->
<div id="ajax_loader" style="display:none;">
<center>
<span title="" class="loading blue" data-original-title="Loading, please wait…">
  Loading…
</span>
</center>
</div>
<center id="ajax_error_message">
  Sorry, an error occured. Please try again in a few minutes.
</center>
<!-- /ajax shit -->

</section>
</article>
<!-- /data block -->
<article class="span3 data-block">
    <section class="tab-content">

<h4><span class="icon-hand-right"></span> Quick Tip</h4>
<p>
Your Payments dashboard allows you to view monies you have paid to
others as well as those that have been paid to you. You can also filter them using
any of the various filters provided.
</p>
    </section>
</article>

</div>
<!-- /Grid row -->
