$('#title').replaceWith("<%= escape_javascript("<center id='title'><h3>#{@title.to_s}</h3></center>".html_safe) %>");

$("#payments_table").append("<%= escape_javascript(render 'payment_list', payments: @payments) %>");

