<div class="row-fluid">
<div class="span12">
<div class="box box-bordered">
<div class="box-title">
<h3>
<i class="icon-inbox"></i>
Inbox
</h3>
</div>
<div class="box-content nopadding">
<div class="highlight-toolbar">
<div class="pull-left"><div class="btn-toolbar">
<div class="btn-group"><a href="components-messages.html#" class="btn" rel="tooltip" title="Refresh results"><i class="icon-refresh"></i></a></div>
<div class="btn-group">
<div class="dropdown">
<a href="components-messages.html#" class="btn" data-toggle="dropdown" rel="tooltip" title="Mark elements"><i class="icon-check-empty"></i><span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="components-messages.html#" class='sel-all'>All</a></li>
<li><a href="components-messages.html#" class='sel-unread'>Unread</a></li>
</ul>
</div>
</div>
<div class="btn-group">
<a href="components-messages.html#" class='btn' rel="tooltip" title="Archive"><i class="icon-inbox"></i></a>
<a href="components-messages.html#" class='btn' rel="tooltip" title="Mark as spam"><i class="icon-exclamation-sign"></i></a>
<a href="components-messages.html#" class='btn' rel="tooltip" title="Delete"><i class="icon-trash"></i></a>
</div>
<div class="btn-group">
<div class="dropdown">
<a href="components-messages.html#" class="btn" data-toggle="dropdown" rel="tooltip" title="Move to folder"><i class="icon-folder-close"></i><span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a href="components-messages.html#">Some folder</a></li>
<li><a href="components-messages.html#">Another folder</a></li>
</ul>
</div>
</div>
</div></div>
<div class="pull-right">
<div class="btn-toolbar">
<div class="btn-group">
<span><strong>1-25</strong> of <strong>348</strong></span>
</div>
<div class="btn-group">
<a href="components-messages.html#" class="btn" data-toggle="dropdown"><i class="icon-angle-left"></i></a>
<a href="components-messages.html#" class="btn" data-toggle="dropdown"><i class="icon-angle-right"></i></a>
</div>
<div class="btn-group">
<div class="dropdown">
<a href="components-messages.html#" class="btn" data-toggle="dropdown"><i class="icon-cog"></i><span class="caret"></span></a>
<ul class="dropdown-menu pull-right">
<li><a href="components-messages.html#">Settings</a></li>
<li><a href="components-messages.html#">Account settings</a></li>
<li><a href="components-messages.html#">Email settings</a></li>
<li><a href="components-messages.html#">Themes</a></li>
<li><a href="components-messages.html#">Help &amp; FAQ</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<table class="table table-striped table-nomargin table-mail">
<thead>
<tr>
<th class='table-checkbox hidden-350'>
<input type="checkbox" class='sel-all'>
</th>
<th class='table-icon hidden-350'></th>
<th>Sender</th>
<th>Subject</th>
<th class='table-icon hidden-350'></th>
<th class='table-date hidden-350'>Date</th>
</tr>
</thead>
<tbody>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star active"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Johny Doesy
</td>
<td>
Lorem ipsum sint laborum.
</td>
<td class='table-icon hidden-350'>
<i class="icon-paper-clip"></i>
</td>
<td class='table-date hidden-350'>
12. Feb
</td>
</tr>
<tr class='unread'>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Lorem ipsum
</td>
<td>
Lorem ipsum veniam esse nisi in ut aliquip do laboris sed pariatur.
</td>
<td class='table-icon hidden-350'>
<i class="icon-paper-clip"></i>
</td>
<td class='table-date hidden-350'>
11. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Officia In
</td>
<td>
Lorem ipsum dolore do ullamco id ullamco occaecat sed dolore adipisicing officia in cillum ut.
</td>
<td class='table-icon hidden-350'>
</td>
<td class='table-date hidden-350'>
10. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Occaecat Tempor
</td>
<td>
Lorem ipsum ut in in eiusmod ut occaecat tempor.
</td>
<td class='table-icon hidden-350'>
</td>
<td class='table-date hidden-350'>
9. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Sed Elit
</td>
<td>
Lorem ipsum sed sed elit nisi adipisicing mollit eu adipisicing.
</td>
<td class='table-icon hidden-350'>
</td>
<td class='table-date hidden-350'>
8. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star active"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Johny Doesy
</td>
<td>
Lorem ipsum sint laborum.
</td>
<td class='table-icon hidden-350'>

</td>
<td class='table-date hidden-350'>
12. Feb
</td>
</tr>
<tr class='unread'>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Lorem ipsum
</td>
<td>
Lorem ipsum veniam esse nisi in ut aliquip do laboris sed pariatur.
</td>
<td class='table-icon hidden-350'>

</td>
<td class='table-date hidden-350'>
11. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Officia In
</td>
<td>
Lorem ipsum dolore do ullamco id ullamco occaecat sed dolore adipisicing officia in cillum ut.
</td>
<td class='table-icon hidden-350'>

</td>
<td class='table-date hidden-350'>
10. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Occaecat Tempor
</td>
<td>
Lorem ipsum ut in in eiusmod ut occaecat tempor.
</td>
<td class='table-icon hidden-350'>
<i class="icon-paper-clip"></i>
</td>
<td class='table-date hidden-350'>
9. Feb
</td>
</tr>
<tr>
<td class='table-checkbox hidden-350'>
<input type="checkbox" class='selectable'>
</td>
<td class='table-icon hidden-350'>
<a href="components-messages.html#" class="sel-star"><i class="icon-star"></i></a>
</td>
<td class='table-fixed-medium'>
Sed Elit
</td>
<td>
Lorem ipsum sed sed elit nisi adipisicing mollit eu adipisicing.
</td>
<td class='table-icon hidden-350'>

</td>
<td class='table-date hidden-350'>
8. Feb
</td>
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
