<div class="box">
  <!--
<div class="box-title">
<h3> <i class="icon-list"></i> Activity </h3>
</div>
-->

<div class="box-content nopadding">
<table class="table table-hover table-nomargin">
<thead>
<tr>
<th>Cycle</th>
<th>Period</th>
<th>Recipient</th>
<th>Total Contributed</th>
</tr>
</thead>
<tbody>
  <% cycles.sort_by(&:number).each do |cycle| %>
  <tr>
    <td> <%= cycle.number %> </td>
    <td>
      <%= cycle.start_date.to_s(:long) %> -
      <%= cycle.end_date.to_s(:long) %>
    </td>
    <td><%= cycle.receiving_member.full_name %></td>
    <td><%= cycle.payments_made.sum(&:amount).format(:symbol => true) %></td>
  </tr>
  <% end -%>
</tbody>
</table>
</div>
</div>
