<div class="span4" style="margin-left:0">
  <ul class="stats cycle-stats">
  <li class='lime'>
    <% if cycle.complete? %>
      <i class="icon-ok"></i>
      <div class="details">
        <span class="big"><strong>Round</strong>
          <%= cycle.round %> Cycle <%= cycle.number %>
        </span>
        <span>Payments Complete</span>
      </div>
    <% else %>
      <i class="icon-spinner"></i>
      <div class="details">
        <span class="big"><strong>Round <%= cycle.round %></strong>
          Cycle <%= cycle.number %>
        </span>
        <span>On-Going</span>
      </div>
    <% end %>
  </li>

  <li class='orange'>
    <i class="icon-calendar"></i>
    <div class="details">
      <span class="big">
      <%= cycle.start_date.to_s(:short) %> -
      <%= cycle.end_date.to_s(:short) %>
      </span>
    <span>Period</span>
    </div>
  </li>
  <li class='brown'>
  <i class="">
    <!-- <img alt="" src="/img/demo/user-avatar.jpg"> -->
    <i class="icon-user"></i>
  </i>
  <div class="details">
  <span class="big"><%= cycle.receiving_member.full_name %></span>
  <span>Recipient</span>
  </div>
  </li>
  <li class='red'>
  <i class="icon-legal"></i>
  <div class="details">
    <span class="big">
    <%= cycle.penalty_deadline.to_s(:long) %>
    </span>
  <span>Penalty Deadline</span>
  </div>
  </li>
  <li class='green'>
  <i class="icon-money"></i>
  <div class="details">
    <span class="big">
      <%= cycle.payments_made.sum(&:amount).format(:symbol => true) %>
    </span>
  <span>Contributed</span>
  </div>
  </li>
  </ul>
</div>


<div class="span8">
  <div class="box">
    <div class="box-title" style="margin-top:0">
      <h3> <i class="icon-money"></i>Contributions </h3>
      <div class="actions">
        <h3><%= cycle.payments_made.sum(&:amount).format(:symbol => true) %></h3>
      </div>
    </div>
    <div class="box-content nopadding scrollable" data-height="300" data-visible="true">
      <table class="table table-user table-nohead horizontal-icon" style="font-size:16px">
      <tbody>
        <tr>
        <td colspan='4' class='user'>
          <div class="progress <%= "progress-success" if cycle.complete? %>">
          <div style="width:<%= cycle.percentage_paid %>%;" class="bar"></div>
          </div>
        </td>
        </tr>
        <% cycle.payments.each_with_index do |payment, index| %>
        <tr>
        <td class='img'>
          <!-- <img src="/img/demo/user-1.jpg" alt=""> -->
          <%= image_tag "avatar3.png" %>
        </td>
        <td class='user'> <%= payment.member.full_name %></td>
        <td class='user'> <%= payment.amount.to_money.format(:symbol => true) %></td>
        <td class='icon list'>
          <% if payment.paid? %>
            <a rel="tooltip" data-original-title="Paid" href="javascript:;" class='btn btn-success'><i class="icon-ok"></i></a>
          <% else %>
            <a rel="tooltip" data-original-title="Not Paid" href="javascript:;" class='btn btn-danger'><i class="icon-exclamation-sign"></i></a>

            <% if current_member == cycle.receiving_member %>
            <a href="#modal-<%= index %>" role="button" class="btn" data-toggle="modal">Confirm</a>

            <!-- modals -->
            <div id="modal-<%= index %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Confirm Payment</h3>
            </div>
            <div class="modal-body">
              Confirm that <%= payment.member.full_name %> has made payment for this cycle?
            </div>
            <div class="modal-footer">
            <!-- <button class="btn btn-primary" data-dismiss="modal">Yes</button> -->

              <div style="float:right">
              <%= button_to "Yes",
                group_cycle_payment_made_path(cycle.group, cycle, :id => payment),
                :method => :put, :class => "btn btn-primary" %>
              </div>
            <div style="float:right;margin-right:10px;">
            <button class="btn" data-dismiss="modal" aria-hidden="true" style="height:28px">No</button>
            </div>

            </div>
            </div>
            <!-- modals -->

            <% end %>

          <% end %>

          <% if payment.penalty_included? %>
            <a rel="tooltip" data-original-title="Penalised" href="javascript:;" class='btn btn-warning'><i class="icon-legal"></i></a>
          <% end %>
        </td>
        </tr>
        <% end -%>
      </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modal-3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Confirm Payment?</h3>
</div>
<div class="modal-body">
    <p> <%#= link_to "Confirm",
      group_cycle_payment_made_path(cycle.group, cycle, :id => payment),
      :method => :put %> </p>

</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
<button class="btn btn-primary" data-dismiss="modal">Yes</button>
</div>
</div>
<!-- <a href="components-elements.html#modal-3" role="button" class="btn" data-toggle="modal">Confirm</a> -->
