<div id="session_details">

  <!--
  <div class="row-fluid demo">
  <div class="span4">4</div>
  <div class="span8">8</div>
  </div>
  -->

<div class="row-fluid">
  <div id="session_stats" class="span4">
    <center>
    <div class="row-fluid" style="border-right:solid #f2f3f4">
      <!-- data block -->
      <section style="border-top:solid #F2F3F4;border-bottom:solid #F2F3F4;height:14px">
      <strong style="font-size:1.4em">
        Round <%= cycle.round %> Cycle <%= cycle.number %>
      </strong>
      </section>
      <!-- /data block -->

      <!-- data block -->
      <section>
      <strong> Status </strong>
      <br/>
      <% if cycle.complete? %>
        <span>All Payments Made</span>
      <% else %>
        <span>Payments Underway</span>
      <% end %>
      </section>
      <!-- /data block -->

      <!-- data block -->
      <section>
      <strong> Recipient </strong> <br/>
      <span class=""><%= cycle.receiving_member.full_name %></span>
      </section>
      <!-- /data block -->

      <!-- data block -->
      <section>
      <strong> Duration </strong><br/>
      <span>
      <%= cycle.start_date.to_s(:short) %> -
      <%= cycle.end_date.to_s(:short) %>
      </span>
      </section>
      <!-- /data block -->

      <!-- data block -->
      <section style="border-bottom:medium solid #F2F3F4">
      <strong> Penalty Deadline </strong> <br/>
      <%= cycle.penalty_deadline.to_s(:long) %>
      </section>
      <!-- /data block -->
    </center>
  </div>

  <div id="payments" class="span8">
    <div id="heading" style="">
      <div class="progress progress-success" style="height:30px;">
        <div style="width:<%= cycle.percentage_paid %>%;font-size: 17px; padding: 5px;" class="bar">
          <%= cycle.payments_made.paid.sum(&:amount).to_money.format(symbol: true) %>
        </div>
      </div>
    </div>
    <table class="table table-bordered table-hover table-media">
      <tbody>
      <% for payment in cycle.payments.order(:member_id) -%>
        <tr<%= " class=recipient" if cycle.receiving_member == payment.member %>>
        <td class="thumbnail">
        <%= image_tag payment.member.avatar.url(:thumb) %>
        </td>
        <td>
          <%= payment.member.full_name %> <br/>
          <% if payment.penalized? %>
          <span class="label label-important"> Penalized </span>
          <% end %>
        </td>
        <td>
          <% if payment.paid? %>
            <button class="btn btn-alt btn-primary paid" type="submit" title="Paid">
              <span class="icon-ok"></span>
            </button>

          <% else %>
            <% if (current_member == cycle.receiving_member) #||
                 # current_member.is_group_admin?(cycle.group) %>
            <button data-toggle="modal" href="#p<%= payment.id %>" class="btn btn-alt btn-primary" type="submit" title="Register Payment">
              <span class="icon-minus"></span>
            </button>
            <% else %>
            <button class="btn btn-alt btn-primary readonly" type="submit" title="Unpaid">
              <span class="icon-minus"></span>
            </button>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- modals -->
<% for payment in cycle.payments -%>
  <% unless payment.paid? %>
<div class="modal fade hide" id="p<%= payment.id %>" style="width:auto">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <!-- <h3>Register Payment</h3> -->
</div>
<div class="modal-body">
  <h5> Register <%= payment.member.full_name %>'s payment for this cycle?</h5>
   <section>
   <div class="row-fluid">
   <div class="span3">
     <div style="padding:7px">
     <img alt="John Pixel avatar" src="http://placekitten.com/45/45">
     </div>
   </div>
   <div class="span9">
     <table>
       <th>
       <th>
     <tr>
       <td style="width:150px">Cycle Contribution</td>
       <td><%= payment.cycle_amount.to_money.format(symbol: true) %></td>
     </tr>
     <tr>
       <td>Penalty</td>
       <td><%= payment.penalty_amount.to_money.format(symbol: true) %></td>
     </tr>
     <tr style="font-weight:bold">
       <td>Total</td>
       <td><%= payment.amount.to_money.format(symbol: true) %></td>
     </tr>
     </table>
   </div>
   </div>
   </section>
</div>
<div class="modal-footer">
  <%= form_tag acknowledge_payment_group_cycle_path(@group, cycle),
      method: :put,
      class: "form-horizontal no-margin" do |f| -%>
    <%= hidden_field_tag :p_id, payment.id %>
  <div class="form-actions">
    <a href="javascript:;" class="btn btn-alt" data-dismiss="modal">Cancel</a>
    <button class="btn btn-alt btn-primary" type="submit">Register Payment</button>
  </div>
  <% end -%>
</div>
</div>
  <% end %>
<% end -%>
