<% content_for :sidebar do -%>
  <%#= render 'groups/sidebar', :group => @group %>
<% end -%>


<%#= render 'groups/quick_stats', :group => @group %>

<div class="row-fluid">
<div class="span12">
  <div class="accordion" id="accordion2">

<% @rounds.sort.each do |round, cycles|  %>

  <div class="accordion-group">
    <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= round %>">
      <strong>Round <%= round %></strong></a>
    </div>
    <div id="<%= round %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'cycle_history', :cycles => cycles %>
      </div>
    </div>
  </div>

<% end -%>

  </div>
</div>
</div>
