<% content_for :sidebar do -%>
  <%#= render 'groups/sidebar', :group => @group %>
<% end -%>

<%#= render 'cycle_details', :group => @group,
                            :cycle => @cycle,
                            :receiving_member => @cycle.receiving_member %>
