<div class="control-group">
  <div class="form-controls">
  <div class="input-prepend">
    <span class="add-on"><span class="icon-user"></span></span>
    <%= f.email_field :email, placeholder: "Email", autofocus: true %>
  </div>
  </div>
  </div>
  <div class="control-group">
  <div class="form-controls">
  <div class="input-prepend">
    <span class="add-on"><span class="icon-key"></span></span>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  </div>
</div>
