<% content_for :styles do -%>
  .name{width:108px}
  .field_with_errors{display:inline-block;border:2px solid #C0392B;border-radius:0 4px 4px 0;}
  .field_with_errors input{ border-width: 0px; box-shadow: none; margin-bottom: 0; }

  .data-block section { padding: 60px 20px; }


<% end -%>
<div class="row-fluid" style="margin-top:3%">

  <!-- Data block -->
  <article class="span6 offset3 data-block">
  <header>
  <h2>Welcome! </h2>
    <ul class="data-header-actions">
    <li class="demoTabs active"><a href="#login"><span class="awe-signin"></span>&nbsp;Log In</a></li>
    <li class="demoTabs"><a href="#register"><span class="awe-heart"></span>&nbsp;Register</a></li>
  </ul>
  </header>
  <section class="tab-content">

  <!-- Tab #login -->
  <div class="tab-pane active" id="login">
    <div style="display: table; margin: 0 auto;">

  <%= form_for(resource,
               as: resource_name,
               url: member_session_path) do |f| %>
      <%= render 'auth/members/registrations/login_credentials', f: f %>
      <!--
      <div class="modal-footer" style="border:none;width:220px">
        <div class="form-actions">
          <button class="btn btn-alt btn-primary" type="submit">Log In</button>
        </div>
      </div>
      -->
          <div style="float:right">
          <button class="btn btn-alt btn-primary" type="submit">Log In</button>
          </div>
  <% end -%>
    </div>
  </div>
  <!-- /Tab #login -->

  <!-- Tab #register -->
  <div class="tab-pane" id="register">
    <div style="display: table; margin: 0 auto;">
  <%= form_for(resource,
               as: resource_name,
               url: member_registration_path) do |f| %>
      <div class="control-group">
        <div class="form-controls">
          <%= f.text_field :first_name,
              placeholder: "First Name",
              style: "width:235px" %>
        </div>
      </div>

      <div class="control-group">
        <div class="form-controls">
          <%= f.text_field :last_name,
              placeholder: "Last Name",
              style: "width:235px" %>
        </div>
      </div>

      <%= render 'auth/members/registrations/login_credentials', f: f %>

      <!--
      <div class="modal-footer" style="border:none;width:220px">
        <div class="form-actions">
          <button class="btn btn-alt btn-primary" type="submit">Register!</button>
        </div>
      </div>
      -->

      <div style="float:right">
      <button class="btn btn-alt btn-primary" type="submit">Register!</button>
      </div>
  <% end -%>
    </div>
  </div>
  <!-- /Tab #register -->

  </section>
  </article>
  <!-- /Data block -->

</div>
