Hi <%= @member.first_name %>,

New cycle has began...


<% if @bundle[:payment].is_a?(PayIn) %>
You're gonna get paid <%= @bundle[:pay_in] %>
<% end %>


<% if @bundle[:payment].is_a?(PayOut) %>
You have to pay <%= @bundle[:pay_out] %>
<% end %>

Thanks,

The Money Team
