Congratulations <%= @invite.first_name %>,

<% if @invite.creator? %>
  You have created ... group. Click here to sign in
<% else %>

  You have been invited to join <%= @group.name %> rotating savings group on moneygoround.

  <% if @members.map(&:full_name).join(", ").present? %>
  Other members of this group are: <%= @members.map(&:full_name).join(", ") %>.
  <% end %>

  To join go to <%= join_site_group_url(@group, :host => "moneygoround.com") %>.
<% end %>


Thanks,

Money Team
