Hi <%= @member.first_name %>,

You are going to be penalised <%= @bundle[:penalty_amount] %> soon. You will have to pay
<%= @bundle[:amount] %> if you don't pay by <%= @bundle[:deadline] %>.

Thanks,

Money Team
