/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

body{
margin:0;
padding:0;
background: #0e1d3a url(/assets/coming-soon/bg.png) top center no-repeat;
font-family: Helvetica Neue, Helvetica, Arial;
}

.main_container{
width: 940px;
margin: 0 auto;
}

.header{
width: 940px;
float: left;
}

a{
color: #fff;
text-decoration: none;
}

a:hover
{
text-decoration: underline;
}

a.logo{
width: 418px;
padding-top: 20px;
margin: 0 auto;
height: 145px;
text-align: center;
font-size: 31px;
color: #fff;
display: block;
background: url(/assets/coming-soon/logo.png) left bottom no-repeat;
}

a.logo span{
display: block;
font-size: 10px;
font-family: Bell Gothic Std;
font-weight: 100;
text-transform: uppercase;
text-align: center;
letter-spacing: 1px;
}

a:hover.logo{
text-decoration: none;
}

.content{
width: 940px;
float: left;
padding-bottom: 70px;
background: url(/assets/coming-soon/divider.png) center bottom no-repeat;
margin-bottom: 25px;
}

h1{
font-size: 152px;
font-weight: bold;
line-height: 90px;
letter-spacing: -2px;
color: #fff;
float: left;
text-shadow:0px 5px 5px #162647;
}

h1 span{
display: block;
font-size: 44px;
font-weight: 200;
color: #d2e1ff;
letter-spacing: 0;
}

.right_side{
width: 376px;
float: right;
margin-top: 10px;
}

.right_side p{
font-size: 30px;
letter-spacing: -1px;
color: #fff;
font-weight: 200;
line-height: 50px;
}

ul.s_icons{
width: 376px;
height: 27px;
margin-top: 15px;
}

ul.s_icons li{
float: left;
background: url(/assets/coming-soon/s_icons.png) 0 0 no-repeat;
height: 27px;
}

ul.s_icons li a{
display: block;
height: 27px;
}

ul.s_icons li.fb{
margin-right: 36px;
width: 100px;
height: 27px;
background-position: 0 0;
}

ul.s_icons li.fb:hover{
background-position: left bottom;
}

ul.s_icons li.tw{
margin-right: 38px;
background-position: -136px 0;
width: 100px;
height: 27px;
}

ul.s_icons li.tw:hover{
background-position: -136px bottom;
}

ul.s_icons li.in{
width: 101px;
height: 27px;
background-position: -275px 0;
}

ul.s_icons li.in:hover{
background-position: -275px bottom;
}

.email{
width: 643px;
margin: 0 auto;
}

.field{
width: 423px;
height: 61px;
float: left;
background: url("/assets/coming-soon/field.png") left top no-repeat;
border: 0;
padding: 0 35px;
font-size: 26px;
color: #8598bb;
font-family: Helvetica Neue, Helvetica, Arial;
}

.submit{
width: 150px;
height: 61px;
float: left;
background: url(/assets/coming-soon/submit.png) left top no-repeat;
border: none;
}

.submit:hover{
float: left;
background: url(/assets/coming-soon/submit.png) left bottom no-repeat;
}
