/*
 *= require sangoma/plugins/daterangepicker
 *= require sangoma/plugins/jquery.jgrowl
 *= require sangoma/sangoma-dark
 *= plugins/jquery-ui/smoothness/jquery-ui
 *= plugins/jquery-ui/smoothness/jquery.ui.theme
 *= require_self
 */

div.jGrowl { opacity: 0.8; }
div.jGrowl div.green { background-color: #6B9B20; color: #FFFFFF; }
.tab-body {padding:0 20px 20px;}
#ajax_error_message {display:none;padding:10em;font-size:1em;font-weight:bold;}
#error_message {padding:10em;font-size:1em;font-weight:bold;background-color:#fff;}
#ajax_loader {padding:0 10em;}
.current {background:#F39C12;color:#fff;}
#session_details #heading { border-top:#F2F3F4 solid; padding: 10px 0; }

#session_details table tr { background:#fff;border-top:solid; }
#session_details table thead tr {border-bottom:solid;}
#session_details table tbody {border-top:solid;}
#session_details table tr td { border-left:none; border-right:none; border-top:solid #F2F3F4;}
#session_details .table thead:last-child tr:last-child th:first-child,
#session_details .table tbody:last-child tr:last-child td:first-child { border-radius: 0; }
#session_details .table thead:last-child tr:last-child th:last-child,
#session_details .table tbody:last-child tr:last-child td:last-child {
border-bottom-right-radius: 0; }

#session_details .table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background:none; }
#session_details .table thead:first-child tr:first-child th:first-child,
#session_details .table tbody:first-child tr:first-child td:first-child {
  border-top-left-radius: 0px; }
#session_details .table thead:first-child tr:first-child th:last-child,
#session_details .table tbody:first-child tr:first-child td:last-child {
  border-top-right-radius: 0px; }
#session_details .btn.btn-alt.btn-primary { background-color: #C34234; }
#session_details .btn.btn-alt.btn-primary:hover{
  background: none repeat scroll 0 0 #27AE60; }
#session_details .btn.btn-alt.btn-primary.paid { background-color: #27AE60; }
#session_details .btn.btn-alt.btn-primary.paid:hover {
  background: none repeat scroll 0 0 #27AE60; }
#session_details .btn.btn-alt.btn-primary.readonly:hover { background-color: #C34234; }
#session_details .recipient { background-color:#F2F3F4;}
#session_details #payments { min-height:383px; border-bottom:medium solid #F2F3F4; }
#header > h1 .brand {
  background-color: transparent;
  background-image: url("/assets/logo3.png");
  background-repeat: no-repeat;
  border: 0 none;
  color: transparent;
  display: block;
  font: 0px/0 a;
  height: 70px;
  text-shadow: none;
  width: 450px;
}
.page-header { border-bottom: 0; margin: 0 0 30px; padding-bottom: 0px; }
#header { padding: 30px 0 0; }
.user-profile img { background-color: #DCE4EC; }
.container > .alert { margin: 30px auto; width: 50%; }
