<% if false %>
<% content_for :styles do -%>
  .data-block.widget-block section > span,
  .data-block.widget-block strong { font-size: 160%; }
<% end -%>
<% end %>
<% content_for :js_document_ready do -%>
     $('#upcoming_payments').slimScroll({
        height: '360px',
        alwaysVisible: false,
        color: '#DCE4EC',
    });
<% end -%>


<div class="row">
<!-- Data block -->
<a href="javascript:;" class="span4 data-block widget-block">
<section>
<span>
  <%= @receiving_in_month.paid.sum(&:amount).to_money.format(symbol: true, no_cents_if_whole: true) %>
  / <%= @receiving_in_month.sum(&:amount).to_money.format(symbol: true, no_cents_if_whole: true) %>
</span>
<strong class="widget-label">Received This Month</strong>
</section>
</a>
<!-- /Data block -->

<!-- Data block -->
<a href="javascript:;" class="span4 data-block widget-block">
<section>
<span>
  <%= @paying_in_month.paid.sum(&:amount).to_money.format(symbol: true, no_cents_if_whole: true) %>
  / <%= @paying_in_month.sum(&:amount).to_money.format(symbol: true, no_cents_if_whole: true) %>
</span>
<strong class="widget-label">Paid This Month</strong>
</section>
</a>
<!-- /Data block -->
<!-- Data block -->
<a href="javascript:;" class="span4 data-block widget-block">
<section>
  <span>
  <%= current_member.groups.where(in_session: true).count %>
  / <%= current_member.groups.count %>
  </span>
<strong class="widget-label">Teams In Session</strong>
</section>
</a>
<!-- /Data block -->
</div>


<div class="row">

<!-- Flexible block scaffolding example -->
<div class="span8">
<!-- Grid row -->
<div class="row">


<!-- Data block -->
<article class="span8 data-block">
<header>
<h2><span class="awe-bullhorn"></span> &nbsp;News Feed</h2>
</header>
<section>
<div id="demo-1" class="flot"></div>
Get activities from groups that member belongs to
</section>
<footer>
<p><span class="icon-idea"></span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</footer>
</article>
<!-- /Data block -->

</div>
<!-- /Grid row -->
</div>
<!-- /Flexible block scaffolding example -->

<!-- Data block with TODO list widget -->
<article class="span4 data-block todo-block">
<header>
<h2><span class="awe-money"></span> &nbsp;Upcoming Payments</h2>
</header>
<section>
<div id="upcoming_payments">
<% if @members_payments.present? %>
<table class="table table-bordered table-hover table-media">
<tbody>
<% for payment in @members_payments -%>
<tr>
<td>
<% if payment.recipient == current_member %>
<p>
  <span class="label label-success" style="padding:5px 9px">
    <span class="awe-download-alt"></span>
  </span>
  <%= payment.member.full_name %> from
  <%= link_to payment.cycle.group.name, group_path(payment.cycle.group) %>
  owes you
  <%= payment.amount.format(symbol: true) %>
</p>
<span>
To be paid by
<%= payment.cycle.next_cycle_start_date.to_s(:long) %>
</span>
<% else %>
<p>
  <span class="label label-important" style="padding:5px 9px">
    <span class="awe-upload-alt"></span>
  </span>
  You owe <%= payment.amount.format(symbol: true) %> to
  <%= payment.recipient.full_name %> from
  <%= link_to payment.cycle.group.name, group_path(payment.cycle.group) %>
</p>
<span>
  To be paid by
  <%= payment.cycle.next_cycle_start_date.to_s(:long) %>.
   Penalty deadline is on
  <%= payment.cycle.penalty_deadline.to_s(:long) %>
</span>
<% end -%>
</td>
</tr>
<% end -%>
</tbody>
</table>
<% else %>
<h5> No Upcoming Payments </h5>
<% end %>
</div>
</section>
</article>
<!-- /Data block with TODO list widget -->

</div>
<!-- /Grid row -->
