
<div class="row-fluid">
<div class="span12">
  <div class="accordion" id="accordion2">

<% @cycles.each do |cycle| %>
  <div class="accordion-group">
    <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    <strong> <%= cycle.group.name %> </strong>
    </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render 'cycles/cycle_info', :cycle => cycle %>
      </div>
    </div>
  </div>
<% end -%>


  </div>
</div>
</div>
