<% if activity.trackable %>
  <p>
    <%= activity.trackable.member.full_name %> was penalized
    <%= activity.trackable.penalty_amount.to_s.to_money.format(symbol: true) %>
    for missing the payment deadline
  </p>
  <%= render 'public_activity/timestamp', activity: activity %>
<% end %>
