<% if activity.trackable %>
  <p>
    <%= activity.trackable.member.full_name %> paid
    <%= activity.trackable.amount.format(symbol: true) %> to
    <%= activity.trackable.recipient.full_name %>
  </p>
  <%= render 'public_activity/timestamp', activity: activity %>
<% end %>
