<fieldset>
<div class="control-group">
<label class="control-label" for="input">Team Name</label>
<div class="controls">
  <%= f.text_field :name,
    placeholder: "The A-Team",
    class: "input-xlarge" %>
  <p class="help-block">Pick a cool name for your team </p>
</div>
</div>

<div class="control-group">
<label class="control-label" for="textarea">Team Description</label>
<div class="controls">
  <%= f.text_area :description, placeholder: "We the best...", class: "input-xlarge", rows: 2 %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input">Payments</label>
<div class="controls">

<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">Members pay </span>
<%= f.text_field :cycle_amount, placeholder: "20", style: "width:40px" %>
<span class="add-on">every</span>
<%= f.text_field :payment_cycle_quantity, placeholder: "1", style: "width:30px" %>
<%= f.select :payment_cycle_unit,
  options_for_select(Group.pretty_cycle_units,
                     selected: "months"), {},
                     {style: "width:90px;vertical-align:top;height:32px"} %>
<span class="add-on">&nbsp;</span>
</span>
</div>
</div>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input">Penalties</label>
<div class="controls">
<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">Members must pay a penalty of </span>
<%= f.text_field :penalty_amount, placeholder: "2", style: "width:40px" %>
<span class="add-on">if their payment</span>
</span>
</div>
</div>

<br/>

<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">is not received </span>
<%= f.text_field :penalty_cycle_quantity, placeholder: "1", style: "width:30px" %>
<%= f.select :penalty_cycle_unit,
  options_for_select(Group.pretty_cycle_units,
                     selected: "weeks"), {},
                     {style: "width:90px;vertical-align:top;height:32px"} %>
<span class="add-on"> after a new cycle starts.</span>
</div>
</div>


</div>
</div>
<div class="control-group">
<label class="control-label" for="input">Alerts</label>
<div class="controls">
<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">Defaulting members are alerted </span>

<%= f.text_field :penalty_alert_timespan_quantity, placeholder: "1", style: "width:30px" %>
<%= f.select :penalty_alert_timespan_unit,
  options_for_select(Group.pretty_cycle_units,
                     selected: "days"), {},
                     {style: "width:90px;vertical-align:top;height:32px"} %>

<span class="add-on">before the deadline</span>
</span>
</div>
</div>
</div>
</div>

</fieldset>
