<table class="table table-bordered table-hover table-media">
<thead>
<tr>
  <th colspan=2 style="text-align:left;">
    <span style="margin-left:1em">Name</span>
  </th>
  <th>Current Position</th>
  <% if editable %>
  <th>New Position</th>
  <% end %>
</tr>
</thead>
<tbody>

<% paid_members = group.members_paid_in_latest_round %>

<% for membership in group.memberships.includes(:member).order(:cycle_position) -%>
    <% member_not_paid_yet = !paid_members.include?(membership.member) %>
    <tr>
      <td class="thumbnail <%= "current" if current_member.id == membership.member_id %>">
        <%= image_tag membership.member.avatar.url(:thumb) %>
      </td>
      <td class="<%= "current" if current_member.id == membership.member_id %>">
        <%= membership.member.full_name %>
        <% if membership.admin? %>
        <br/> <span class="label">ADMIN</span>
        <% end %>
      </td>
      <td class="<%= "current" if current_member.id == membership.member_id %>">
          <% if @group.in_session? %>
          <span style="font-size:2em;float:left;margin:0 10%;padding-top:10px">
            <%= membership.cycle_position %>
          </span>
          <% period = @group.period_for_member_at_position(membership.cycle_position) %>
          <span style="float:left;width:100px;">
            <span class="label label-warning" title="Starts On">
              <%= period[:start].to_s(:long) %>
            </span>
            <br/>
            <span class="label label-important" title="Ends On">
              <%= period[:end].to_s(:long) %>
            </span>
          </span>
          <% else %>
          <center>
            <span style="font-size:2em"> <%= membership.cycle_position %> </span>
          </center>
          <% end %>
      </td>
      <% if editable && member_not_paid_yet %>
        <%= fields_for "memberships[]", membership do |m| %>
        <td <%= "style=''" if current_member.id == membership.member_id %>>
          <center>
            <span style="font-size:2em">
          <%= m.select :cycle_position,
              options_for_select(@group.memberships.
                                    select{|m| !paid_members.include?(m.member)}.
                                    map{|m| [m.cycle_position, m.cycle_position]},
              selected: membership.cycle_position), {},
              { class: "span1" } %>
            </span>
          </center>
        </td>
        <% end -%>
      <% end -%>
    </tr>
<% end -%>
</tbody>
</table>






<!-- old view -->
<% if false %>
<table class="table table-striped table-bordered table-hover table-media">
<thead>
<tr>
<th colspan=2 style="text-align:left;"><span style="margin-left:1em">Name</span></th>
<th>Current Position</th>
<% if editable %>
<th>New Position</th>
<% end %>
</tr>
</thead>
<tbody>
<!--
  only ppl who can't change positions in the current cycle are
    1. the receiving member of current cycle
        => membership.member == running_cycle.receiving_member
    2. members who have been paid in the current round
        => paid_members = group.members_paid_in_current_round
 -->
<% paid_members   = group.members_paid_in_latest_round %>

<% for membership in group.memberships.includes(:member).order(:cycle_position) -%>

    <% member_not_paid_yet = !paid_members.include?(membership.member) %>

    <% if editable && member_not_paid_yet %>
      <%= fields_for "memberships[]", membership do |m| %>
      <tr>
        <td class="thumbnail">
          <%= image_tag membership.member.avatar.url(:thumb) %>
        </td>
        <td>
          <%= membership.member.full_name %>
          <% if membership.admin? %>
          <br/> <span class="label label-warning">ADMIN</span>
          <% end %>
        </td>
        <td>
          <center>
            <span style="font-size:2em">
              <%= membership.cycle_position %>
            </span>
          </center>
        </td>
        <td>
          <center>
            <span style="font-size:2em">
          <%= m.select :cycle_position,
              options_for_select(@group.memberships.
                                    select{|m| !paid_members.include?(m.member)}.
                                    map{|m| [m.cycle_position, m.cycle_position]},
              selected: membership.cycle_position), {},
              { class: "span1" } %>
            </span>
          </center>
        </td>
      </tr>
      <% end -%>
    <% else %>
<tr>
  <td class="thumbnail">
    <%= image_tag membership.member.avatar.url(:thumb) %>
  <td>
    <%= membership.member.full_name %>
    <% if membership.admin? %>
    <br/> <span class="label label-warning">ADMIN</span>
    <% end %>
  </td>
  <td>
    <center>
      <span class="" style="font-size:2em">
        <%= membership.cycle_position %></span>
    </center>
  </td>
</tr>
    <% end %>
<% end -%>
</tbody>
</table>
<% end %>
