<div class="page-header-1">
<div class="pull-left">
<h1><%= @group.name %></h1>
</div>
<div class="pull-right">

<ul class="stats">
  <% if @group.in_session? %>
<li class="lime">
<i class="icon-spinner"></i>
<div class="details">
<span class="big">
  <strong> Round <%= @group.round %> </strong>
  Cycle <%= @group.latest_cycle.number %>
</span>
<span>Status: <strong>In Session</strong></span>
</div>
</li>
  <% else %>
<li class="red">
<i class="icon-stop"></i>
<div class="details">
<span class="big">&nbsp;</span>
<span>Status: <strong>Stopped</strong></span>
</div>
</li>
  <% end %>

<!--
<li class="magenta">
<i class="icon-shopping-cart"></i>
<div class="details">
<span class="big">175</span>
<span>New orders</span>
</div>
</li>
<li class='satgreen'>
<i class="icon-money"></i>
<div class="details">
<span class="big">$324,12</span>
<span>Balance</span>
</div>
</li>
-->

<% if @group.in_session? %>
  <% if @group.latest_cycle.last? %>
<li class='lightred'>
<i class="icon-calendar"></i>
<div class="details">
<span class="big"><%= @group.latest_cycle.end_date.to_s(:long) %></span>
<span> Round Ends</span>
</div>
</li>
  <% else %>
<li class='orange'>
<i class="icon-calendar"></i>
<div class="details">
<span class="big"><%= @group.latest_cycle.next_cycle_start_date.to_s(:long) %></span>
<span>Next Cycle <%= @group.latest_cycle.number + 1 %> Begins</span>
</div>
</li>
  <% end %>
<% end %>
</ul>

</div>
</div>
