<ul class="tiles">

<li class="blue <%= "white" if current_page? group_path(group) %>">
<a href="<%= group_path(group) %>">
<span class="count"><i class="icon-dashboard"></i></span>
<span class="name">Dashboard</span></a>
</li>

<% if false %>
<li class="blue <%= "white" if current_page? group_members_path(group) %>">
<a href="<%= group_members_path(group) %>">
<span class="count"><i class="icon-user"></i> <%= group.members.count %></span>
<span class="name">Members</span>
</a>
</li>
<% end %>

<!--
<li class="blue">
<a href="components-tiles.html#">
<span class="count"><i class="icon-comments-alt"></i> 4</span>
<span class="name">Messages</span>
</a>
</li>
-->

<li class="blue <%= "white" if current_page? group_cycles_path(group) %>">
<a href="<%= group_cycles_path(group) %>">
<span class="count"><i class="icon-time"></i></span>
<span class="name">History</span>
</a>
</li>

<li class="blue <%= "white" if current_page? edit_group_path(group) %>">
<a href="<%= edit_group_path(group) %>">
<span><i class="icon-wrench"></i></span>
<span class="name">Settings</span>
</a>
</li>

<% unless group.in_session? %>
  <% if current_member.is_group_member?(group) %>
  <% unless current_member.is_group_admin?(group) %>
<li class="red">
<a href="components-tiles.html#">
<span><i class="icon-signout"></i></span>
<span class="name">Leave Group</span>
</a>
</li>
  <% end %>
  <% end %>
<% end %>

<!--
<li class="brown">
<a href="components-tiles.html#"><span class="count"><i class="icon-envelope"></i> 1</span><span class="name">Messages</span></a>
</li>
<li class="image">
<a href="components-tiles.html#"><img alt="" src="/img/demo/user-1.jpg"><span class="name">Jane Doe</span></a>
</li>
<li class="blue ">
<a href="components-tiles.html#"><span class="nopadding"><h5>@eakroko</h5><p>Check the new Flat theme on themeforest. Incredible fast and easy to use.</p></span><span class="name"><i class="icon-twitter"></i><span class="right">1min ago</span></span></a>
</li>
<li class="green ">
<a href="components-tiles.html#"><span><i class="icon-globe"></i></span><span class="name">User regions</span></a>
</li>
<li class="brown">
<a href="components-tiles.html#"><span class="count"><i class="icon-bolt"></i> 3</span><span class="name">Warnings</span></a>
</li>
<li class="magenta">
<a href="components-tiles.html#"><span><i class="icon-star"></i></span><span class="name">Ratings</span></a>
</li>
<li class="pink ">
<a href="components-tiles.html#"><span><i class="icon-money"></i></span><span class="name">Balance</span></a>
</li>
<li class="blue">
<a href="components-tiles.html#"><span><i class="icon-wrench"></i></span><span class="name">Optimize site</span></a>
</li>
<li class="red ">
<a href="components-tiles.html#"><span><i class="icon-eye-open"></i></span><span class="name">Preview changes</span></a>
</li>
-->
</ul>
