<%= render 'layout', :group => @group %>

This is the current cycle

<%= render 'cycles/cycle_details', :group => @group,
                                   :cycle => @cycle,
                                   :receiving_member => @cycle.receiving_member %>
