
<% if false %>
<%= render 'layout', :group => @group %>

<div class="row-fluid">
<div class="span12">
<div class="box box-bordered">
<div class="box-title">
<h3><i class="icon-th-list"></i> Team Rules</h3>

<% if @not_running %>
<div class="actions">
  <%= form_tag start_round_group_path(@group), :style => "margin:0;" do  -%>
    <button class="btn btn-primary" style="font-size:10px;"><i class="icon-play"></i> Start New Round</button>
  <% end -%>
</div>
<% end -%>

</div>
<div class="box-content nopadding">
<%= form_for @group, :html => { :class => "form-horizontal form-bordered" } do |f| -%>
<div class="control-group">
<label class="control-label" for="textfield">TEAM INFO</label>
<div class="controls">
    <% if @not_running && @admin %>
  Team <%= f.text_field :name %>
  <% else %>
  Team <%= @group.name %>
  <% end -%>
</div>
</div>

<div class="control-group">
  <label class="control-label" for="textfield">CONTRIBUTIONS </label>
  <div class="controls">
    <% if @not_running && @admin %>
    <div class="section">
      Each member pays
      <div class="input-append input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :cycle_amount,
        :class => "input-mini", :placeholder => "10", :size => 5 %>
      </div>
      every
      <%= f.text_field :payment_cycle_quantity,
        :class => "spinner input-mini" %>
      <span class="input-medium select-fix">
        <%= f.select :payment_cycle_unit,
          options_for_select(Group.pretty_cycle_units,
                             :selected => "months"),
                             {}, {:class => "chosen-select"} %>
      </span>
    </div>
    <div class="section">
      Currency used is
    </div>
    <% else %>
    <div class="section">
      Each member pays
      <strong>
      <%= @group.cycle_amount.to_money.format(:symbol => true) %>
      </strong>
      every
      <strong>
      <%= pluralize(@group.payment_cycle_quantity,
                    @group.payment_cycle_unit.to_s.chomp('s')) %>
      </strong>
    </div>

    <div class="section">
      Currency used is
    </div>
    <% end %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="password">PENALTY</label>
  <div class="controls">
    <% if @not_running && @admin %>
    <div class="section">
      Members must pay a penalty of
      <div class="input-append input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :penalty_amount,
        :class => "input-mini", :placeholder => "10", :size => 5 %>
      </div>

      if their payment is not received
      <%= f.text_field :penalty_cycle_quantity,
        :class => "spinner input-mini" %>

      <span class="input-medium select-fix">
      <%= f.select :penalty_cycle_unit,
        options_for_select(Group.pretty_cycle_units,
                               :selected => "days"),
        {}, {:class => "chosen-select", :size => 10} %>
      </span>
      after the cycle starts.
    </div>
    <div class="section">
      Defaulting members are alerted
      <%= f.text_field :penalty_alert_timespan_quantity,
                    :class => "spinner input-mini" %>

      <span class="input-medium select-fix">
      <%= f.select :penalty_alert_timespan_unit,
        options_for_select(Group.pretty_cycle_units,
                           :selected => "days"),
        {}, {:class => "chosen-select"} %>
      </span>
       <span style="display:inline">
         before penalty deadline.
       </span>
    </div>
    <% else %>
    <div class="section">
      Members must pay a penalty of
      <strong>
      <%= @group.penalty_amount.to_money.format(:symbol => true) %>
      </strong>

      if their payment is not received
      <strong>
      <%= pluralize(@group.penalty_cycle_quantity,
                    @group.penalty_cycle_unit.to_s.chomp('s')) %>
      </strong>
      after the cycle starts
    </div>

    <div class="section">
      Defaulting members are alerted
      <strong>
      <%= pluralize(@group.penalty_alert_timespan_quantity,
                    @group.penalty_alert_timespan_unit.to_s.chomp('s')) %>
      </strong>
      before penalty deadline
    </div>
    <% end -%>
  </div>
</div>

<% if @not_running && @admin %>
<div class="form-actions" style="padding:0 160px">
  <%= f.submit "Save Changes", :class => "btn btn-primary" %>
</div>
<% end %>

<% end -%>



</div>
</div>
</div>
</div>

<div class="row-fluid">
<div class="span6">
<div class="box box-bordered">
<div class="box-title">
<h3><i class="icon-list-ol"></i>Positions</h3>
</div>

<div class="box-content nopadding">
<%= form_tag update_multiple_group_memberships_path(@group), :method => :put do |f| -%>
<table class="table table-user table-nohead">
<tbody>
<% for membership in @group.memberships.includes(:member).order(:cycle_position) -%>
  <%= fields_for "memberships[]", membership do |m| %>
  <tr>
  <td class='img'><img src="/img/demo/user-1.jpg" alt=""></td>
  <td class='user'> <%= membership.member.email %> </td>
  <td class='icon'>
    <% if @not_running && @admin %>
    <%= m.select :cycle_position,
    options_for_select(@group.memberships.map{|m| [m.cycle_position,
                                                   m.cycle_position]},
                                                   :selected => membership.cycle_position),
                                                   {}, {:class=>"input-mini"}  %>
    <% else %>
    <strong>
     <a style="color:#444" href="javascript:;" class='btn'><%= membership.cycle_position %></a>
    </strong>
    <% end %>
  </td>
  </tr>
  <% end -%>
<% end -%>
</tbody>
</table>
<% if @not_running && @admin %>
<div class="form-actions" style="padding-bottom:0;padding-left:10px">
  <%= submit_tag "Save Changes", :class => "btn btn-primary" %>
</div>
<% end %>
<% end -%>
</div>

</div>
</div>

<div class="span6">
<div class="box box-bordered">
<div class="box-title">
<h3><i class="icon-asterisk"></i>Invitations Sent</h3>

<% if @not_running && @admin %>
<div class="actions">
<%= link_to raw("Send Invite <i class='icon-plus'></i>"),
  new_group_invite_path(@group),
  :class => "btn btn-mini" %>
</div>
<% end %>


</div>

<div class="box-content nopadding">
<table class="table table-user table-nohead">
<tbody>
<% for invite in @group.invites -%>
  <tr>
  <td class='img'><img src="/img/demo/user-1.jpg" alt=""></td>
  <td class='user'> <%= invite.email %> </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

</div>
</div>
</div>


<% if false %>
<%= form_tag update_multiple_group_memberships_path(@group), :method => :put do |f| -%>
<table>
  <tr>
    <th>Email</th>
    <th>Position</th>
  </tr>
<% for membership in @group.memberships.includes(:member).order(:cycle_position) -%>
  <%= fields_for "memberships[]", membership do |m| %>
  <tr>
    <td> <%= membership.member.email %> </td>
    <td> <%= m.select :cycle_position,
      options_for_select(@group.memberships.map{|m| [m.cycle_position,
                                                     m.cycle_position]},
                         :selected => membership.cycle_position) %> </td>
  </tr>
  <% end -%>
<% end -%>
</table>
<%= submit_tag "Save Changes" %>
<% end -%>
<% end %>
<% end %>
