
<% if member_signed_in? %>

  <h2>  <%= @group.name %> </h2>

  <%= link_to "Join Group?", add_member_group_path(@group) %>


<% else %>

<div style="">
<div style="float:left">
<h2>Sign up</h2>

<%= form_for(resource,
             :as => resource_name,
             :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= hidden_field_tag :group_id, @group.id %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>

<div style="float:right">
<h2>Sign in</h2>

<%= form_for(resource,
             :as => resource_name,
             :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <%= hidden_field_tag :group_id, @group.id %>
  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
<% end %>
