<% content_for :js_document_ready do -%>
     $('#recent_activities').slimScroll({
        height: '450px',
        alwaysVisible: false,
        color: '#DCE4EC',
    });
<% end -%>
<% if @group.invited?(current_member.email) %>
<nav class="main-navigation" style="float:none">
<center>
<!-- Navigation -->
<div class="nav-collapse collapse" role="navigation" style="width:30%">
  <ul>
    <li class="active" style="width:100%">
    <%= link_to "Accept Invitation", add_member_group_path(@group), style: "background:#27AE60" %>
    </li>
  </ul>
</div>
<!-- /Navigation -->
</center>
</nav>
<br/> <br/>
<% end %>

<article class="page-header">
<center>
<h1><%= @group.name %></h1>
<p><%= @group.description.present? ? @group.description : "What's your team's story? " %></p>
</center>
</article>

<!-- Grid row -->
<div class="row">

<!-- Flexible block scaffolding example -->
<div class="span8">
<!-- /Grid row -->
<div class="row">
<!-- Data block -->
<article class="span8 data-block">
<header>
<h2>Team HQ</h2>
<ul class="data-header-actions">

  <li class="demoTabs active">
  <a href="#status"><span class="awe-dashboard"></span> Status</a>
  </li>
  <li class="demoTabs">
    <a href="#details"><span class="awe-cog"></span> Rules</a>
  </li>
  <li class="demoTabs">
    <a href="#members"><span class="awe-group"></span> Membership</a>
  </li>
  <li class="demoTabs">
    <a href="#history"><span class="awe-time"></span> History</a>
  </li>
</ul>
</header>
<section class="tab-content" style="padding:0;min-height:632px">

<!-- Tab #one -->
  <%# if @cycle_status %>
<div class="tab-pane <%= "active" if @active == 'status' || @active.nil? %>" id="status">

  <div class="data-block-nav tab-content">
  <ul>
<% if current_member.is_group_admin?(@group) %>
  <li style="color:green">
  <% if @group.in_session? %>
    <a href="<%= pause_round_group_path(@group) %>">
      <span class="awe-pause"></span> Pause Cycle</a>
    <a href="<%= stop_round_group_path(@group) %>">
      <span class="awe-stop"></span> Stop Round</a>
  <% else %>
    <a href="<%= start_round_group_path(@group) %>">
      <span class="awe-play"></span> Start</a>
  <% end %>
  </li>
<% end -%>
  </ul>
  </div>

  <div class="tab-body">
  <!-- <h3> Latest Cycle </h3> -->
  <% if @cycle_status %>
    <br/> <br/>
  <%= render "app/groups/cycles/details", cycle: @latest_cycle %>
  <% else %>

    <br/> <br/> <br/>
<article class="span7 data-block plan-block">
<section>
<span class="icon-flag"></span>
<h3>Group Inactive</h3>
<p>There are no on-going payment cycles at the moment</p>
</section>
</article>
  <% end %>
  </div>


</div>
<%# end %>
<!-- /Tab #one -->

<!-- Tab #two -->
<!-- <div class="tab-pane" id="details"> -->

<div class="tab-pane <%= "active" if @active == 'details' %>" id="details">

<div class="data-block-nav tab-content">
<ul>
<% if member_signed_in? && current_member.is_group_admin?(@group) %>
<li>
<a data-toggle="modal" href="#edit_modal"><span class="awe-edit"></span>&nbsp; Edit Team Rules</a>
</li>
<% end -%>
</ul>
</div>

<div class="tab-body">
<h3>Rules & Details </h3>
<fieldset class="form-horizontal no-margin">
  <br/>
<div class="control-group">
<label class="control-label" for="input">Team Name</label>
<div class="controls">
<div class="form-controls">
<div class="input-prepend input-append">
  <span class="add-on"><%= @group.name %> &nbsp;</span>
</span>
</div>
</div>
</div>
</div>

<div class="control-group">
<label class="control-label" for="textarea">Team Description</label>
<div class="controls">
  <% if @group.description.present? %>
  <p style="background:#DCE4EC;padding:5px;color:#7F8C8D;font-weight:bold;border-radius:0 4px 4px 0">
  <%= @group.description %> </p>
  <% end %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input">Payments</label>
<div class="controls">
<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">Each member pays
<%= @group.cycle_amount.to_money.format(symbol: true) %>
every
  <%= @group.payment_cycle_quantity == 1 ? @payment_cycle_unit.to_s.chomp('s') :
  pluralize(@group.payment_cycle_quantity, @payment_cycle_unit.to_s.chomp('s')) %>
&nbsp;</span>
</span>
</div>
</div>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input">Penalties</label>
<div class="controls">
<div class="form-controls">
  <p style="background:#DCE4EC;padding:5px;color:#7F8C8D;font-weight:bold;border-radius:0 4px 4px 0">
Members must pay a penalty of <%= @group.penalty_amount.to_money.format(symbol: true) %>
if their payment is not received
  <%= pluralize(@group.penalty_cycle_quantity,
                @group.penalty_cycle_unit.to_s.chomp('s')) %>
after a new cycle starts.
  </p>
</div>


</div>
</div>
<div class="control-group">
<label class="control-label" for="input">Alerts</label>
<div class="controls">
<div class="form-controls">
<div class="input-prepend input-append">
<span class="add-on">Defaulting members are alerted
  <%= pluralize(@group.penalty_alert_timespan_quantity,
                @group.penalty_alert_timespan_unit.to_s.chomp('s')) %>
before the deadline</span>
</span>
</div>
</div>
</div>
</div>
</fieldset>
</div>
</div>
<!-- /Tab #two -->

<!-- Tab #three -->
<div class="tab-pane <%= "active" if @active == 'members' %>" id="members">

<div class="data-block-nav tab-content">
<ul>
<% if current_member.is_group_member?(@group) %>
<li>
<a data-toggle="modal" href="#send_invite" ><span class="awe-plus"></span>&nbsp; Invite A Friend</a>
</li>
<% end %>
<% if current_member.is_group_admin?(@group) %>
<li>
<a data-toggle="modal" href="#rearrange" ><span class="awe-random"></span>&nbsp; Rearrange Positions</a>
</li>
<% end %>
</ul>
</div>

<div class="tab-body">
<div class="span7" style="margin-left:0;width:100%">
<h3> Current Members </h3>
<%= render 'app/groups/groups/member_list',
    editable: false,
    group: @group %>
<br/>
<br/>

<h3> Invitations </h3>
<% if @group_invites.present? %>
  <table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
  <th style="text-align:left;"><span style="margin-left:1em">Name</span></th>
  <th>Email</th>
<% if current_member.is_group_member?(@group) %>
  <th></th>
<% end -%>
  </tr>
  </thead>
  <tbody>
  <% for invite in @group_invites -%>
  <tr>
    <td> <%= invite.full_name %> </td>
    <td> <%= invite.email %> </td>

<% if current_member.is_group_member?(@group) %>
    <td class="toolbar">
      <center>
      <div class="btn-group">
        <%= link_to "<span class='icon-edit'></span>".html_safe,
                    "javascript:;",
                    class: "btn btn-alt btn-primary btn-small",
                    title: "Edit Invite" %>
        <%= link_to "<span class='icon-remove'></span>".html_safe,
                    group_invite_path(@group, invite),
                    confirm: 'Are you sure?',
                    class: "btn btn-alt btn-primary btn-small",
                    method: "delete",
                    title: "Cancel invite" %>
      </div>
      </center>
    </td>
<% end -%>
  </tr>
  <% end -%>
  </tbody>
  </table>
<% else %>
  <p style="padding:0px 20px 20px 0px"> No pending invitations.</p>
<% end %>
</div>
</div>
</div>
<!-- /Tab #three -->


<!-- Tab #four -->
<!-- <div class="tab-pane" id="history"> -->
<div class="tab-pane <%= "active" if @active == 'history' %>" id="history">
  <div class="data-block-nav tab-content">
  <ul>
  </ul>
  </div>
  <div class="tab-body">

  <h3> Payment History </h3>
  <% if @group_cycles.present? %>
  <article class="red data-block accordion-block">
  <div id="history_accordion" class="accordion">
      <% @group_cycles.group_by(&:round).each do |round, round_cycles| %>
  <div class="accordion-group">
  <div class="accordion-heading">
  <a class="accordion-toggle" href="index.html#accordion<%= round %>" data-parent="#history_accordion" data-toggle="collapse">Round <%= round %></a>
  </div>
  <div id="accordion<%= round %>" class="accordion-body collapse">
    <div class="accordion-inner">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Cycle</th>
            <th>Period</th>
            <th>Recipient</th>
            <th>Members</th>
            <th>Total Contributed</th>
          </tr>
        </thead>
        <tbody>
          <% round_cycles.sort_by(&:number).each do |cycle| %>
          <tr>
            <td><center><%= cycle.number %></center></td>
            <td>
                <%= cycle.start_date.to_s(:long) %> -
                <%= cycle.end_date.to_s(:long) %>
            </td>
            <td><%= cycle.receiving_member.full_name %></td>
            <td><%= cycle.member_count %></td>
            <td><%= cycle.payments_made.sum(&:amount).to_money.format(:symbol => true) %></td>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
  </div>
      <% end -%>
  </div>
  </article>
  <% else %>
    <div style="padding:20px">
      <center id="error_message">
        No Payments
      </center>
    </div>
  <% end %>

  </div>
</div>
<!-- /Tab #four -->

</section>
</article>
<!-- /Data block -->

</div>

</div>

<!-- /Flexible block scaffolding example -->
<!-- Data block -->
<div class="span2 data-block widget-block">
<section>
<span class="sparkline pie"><%= @group.members.count %></span>
<strong> <%= "Member".pluralize(@group.members.count) %> </strong>
</section>
</div>
<!-- /Data block -->
<!-- Data block -->
<div class="span2 data-block widget-block">
<section>
<span class="sparkline pie">
<%= @group.cycle_amount.to_money.format(symbol: true, no_cents_if_whole: true) %>
</span>
<strong>
<% if @group.payment_cycle_quantity == 1 %>
per <%= @payment_cycle_unit.to_s.chomp('s').capitalize %>
<% else %>
every <%= pluralize(@group.payment_cycle_quantity, @payment_cycle_unit.to_s.chomp('s')) %>
<% end %>
</strong>
</section>
</div>
<!-- /Data block -->

<!-- Data block with TODO list widget -->
<article class="span4 data-block todo-block">
<header>
<h2><span class="awe-bullhorn"></span> &nbsp; Recent Activity </h2>
</header>
<section>
<div id="recent_activities">
<table class="table table-bordered table-hover table-media">
<tbody>
  <% if @activities.present? %>
  <% @activities.each do |activity| %>
  <tr><td><%= render_activity activity %></td></tr>
  <% end -%>
  <% else %>
  <tr><td><p>No activities yet</p></td></tr>
  <% end %>
</tbody>
</table>
</div>
</section>
</article>
<!-- /Data block with TODO list widget -->
</div>


<% if false %>
<%= render 'groups/layout', :group => @group %>

<!--
total contributions how long group has been running for
-->

<div class="row-fluid">
  <div class="span12">
    <div class="box box-bordered">
      <div class="box-title" style="border-bottom:0 none;">
        <h3><i class="icon-spinner"></i>Active Cycle</h3>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="box" style="border:solid 2px #EEE">
      <div class="box-content">
      <% if @group.in_session? && @latest_cycle.present? %>
        <%= render 'cycles/cycle_info', cycle: @latest_cycle %>
      <% else %>
        No Active Cycle
      <% end -%>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
<div class="span6">
<div class="box box-bordered">
<div class="box-title">
<h3><i class="icon-bullhorn"></i>Recent Activity</h3>
<div class="actions">
<a href="components-elements.html#" class="btn btn-mini content-refresh"><i class="icon-refresh"></i></a>
</div>
</div>
<div class="box-content nopadding scrollable" data-height="400" data-visible="true">
<table class="table table-nohead" id="randomFeed">
<tbody>
<tr>
<td><span class="label"><i class="icon-plus"></i></span> <a href="index.html#">John Doe</a> added a new photo</td>
</tr>
<tr>
<td><span class="label label-success"><i class="icon-user"></i></span> New user registered</td>
</tr>
<tr>
<td><span class="label label-info"><i class="icon-shopping-cart"></i></span> New order received</td>
</tr>
<tr>
<td><span class="label label-warning"><i class="icon-comment"></i></span> <a href="index.html#">John Doe</a> commented on <a href="index.html#">News #123</a></td>
</tr>
<tr>
<td><span class="label label-success"><i class="icon-user"></i></span> New user registered</td>
</tr>
<tr>
<td><span class="label label-info"><i class="icon-shopping-cart"></i></span> New order received</td>
</tr>
<tr>
<td><span class="label label-warning"><i class="icon-comment"></i></span> <a href="index.html#">John Doe</a> commented on <a href="index.html#">News #123</a></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
<div class="span6">
<div class="box box-bordered">
<div class="box-title">
<h3><i class="icon-user"></i>Current Members</h3>
</div>

<div class="box-content nopadding">
<table class="table table-user table-nohead">
<tbody>
<% for membership in @group.memberships.includes(:member).order(:cycle_position) -%>
  <tr>
    <td class='img'>
      <!-- <img src="/img/demo/user-1.jpg" alt=""> -->
      <%= image_tag "avatar3.png" %>
    </td>
  <td class='user'> <%= membership.member.full_name %> </td>
  <td class='icon'>
    <strong>
    <a style="color:#444" href="javascript:;" class='btn'><%= membership.cycle_position %></a>
    </strong>
  </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

</div>
</div>
</div>
<% end %>

<!-- modals -->
<div class="modal fade hide" id="edit_modal" style="width:auto">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Edit Rules</h3>
</div>
  <% if @group.in_session? %>
<div class="modal-body">
  <%= render 'app/groups/groups/session_warning',
      message: "Sorry, you cannot edit a team's rules when a round is in session"  %>
</div>
  <% else %>
<div class="modal-body">
  <%= form_for @group,
               url: group_path,
               html: { class: "form-horizontal no-margin" } do |f| -%>
  <%= render 'app/groups/groups/form', f: f %>
</div>
<div class="modal-footer">
  <div class="form-actions">
    <a href="javascript:;" class="btn btn-alt" data-dismiss="modal">Cancel</a>
    <button class="btn btn-alt btn-primary" type="submit">Save changes</button>
  </div>
</div>
  <% end -%>
<% end %>
</div>

<% if current_member.is_group_member?(@group) %>
<div class="modal fade hide" id="send_invite">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
<h3>Send Invitation</h3>
</div>
<%= form_for [ @group, @group_invites.new ],
    html: { class: "form-vertical no-padding" } do |f| -%>

  <% if @group.in_session? %>
<div class="modal-body">
  <%= render 'app/groups/groups/session_warning',
    message: "Sorry, you cannot send invitations when a round is in session"  %>
</div>
  <% else %>
<div class="modal-body">
<center style="padding-top:2em">
<div class="control-group">
<div class="controls">
  <%= f.text_field :first_name,
    class: "input-medium",
    placeholder: "First Name" %>
  <%= f.text_field :last_name,
    class: "input-medium",
    placeholder: "Last Name"%>
</div>
</div>
<div class="control-group">
  <div class="controls">
    <%= f.email_field :email,
      class: "input-xlarge",
      placeholder: "Email Address",
      style: "width:320px"  %>
  </div>
</div>
</center>
</div>
<div class="modal-footer">
  <div class="form-actions">
    <a href="javascript:;" class="btn btn-alt" data-dismiss="modal">Cancel</a>
    <button class="btn btn-alt btn-primary" type="submit">Send Invite</button>
  </div>
</div>
  <% end -%>
<% end -%>
</div>

<% end %>

<div class="modal fade hide" id="rearrange" style="width:50%">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
<h3>Select New Positions</h3>
</div>
    <%= form_tag update_multiple_group_memberships_path(@group),
      method: :put, class: "form-vertical no-padding" do |f| -%>

  <%# if @group.in_session? %>
  <!--
    <div class="modal-body">
      <%#= render 'app/groups/groups/session_warning',
        message: "Sorry, you cannot change member positions when a round is in session"  %>
    </div>
    -->
  <%# else %>
    <div class="modal-body">
      <%= render 'app/groups/groups/member_list',
          editable: true,
          group: @group %>
    </div>
    <div class="modal-footer">
      <div class="form-actions">
        <a href="javascript:;" class="btn btn-alt" data-dismiss="modal">Cancel</a>
        <button class="btn btn-alt btn-primary" type="submit">Apply Changes</button>
      </div>
  </div>
  <%# end -%>

<% end -%>
</div>
<!-- /modals -->
