<% content_for :styles do -%>
.help-block.password { margin-left: 180px; padding-top: 1px; }
<% end -%>
<!-- Grid row -->
<div class="row">

<!-- Data block -->
<article class="span12 data-block">
<header>
<h2> Account Settings </h2>
<ul class="data-header-actions">
<li class="demoTabs active"><a href="#show" class="btn btn-alt">View</a></li>
<li class="demoTabs"><a href="#edit" class="btn btn-alt">Edit</a></li>
</ul>
</header>
<section class="tab-content" style="min-height:500px">

<!-- Tab #showtab -->
<div class="tab-pane active" id="show">
<div class="row-fluid">
<div class="span6">
<h4>Account</h4>

<fieldset class="form-horizontal">

<div class="control-group">
<label class="control-label" for="input">First Name</label>
<div class="controls">
  <p style="padding-top:5px"> <%= current_member.first_name %> </p>
</div>

<div class="control-group">
<label class="control-label" for="input">Last Name</label>
<div class="controls">
  <p style="padding-top:5px"> <%= current_member.last_name %> </p>
</div>

<div class="control-group">
<label class="control-label" for="input">E-mail</label>
<div class="controls">
  <p style="padding-top:5px"> <%= current_member.email %> </p>
</div>
</div>

</fieldset>

</div>


<div class="span6">
<h4>Profile</h4>
<fieldset class="form-horizontal">
<div class="control-group">
<label class="control-label" for="input">Avatar</label>
<div class="controls">

  <div style="width:150px">
    <a rel="lightbox" href="javascript:;" class="thumbnail">
      <%= image_tag current_member.avatar.url(:large) %>
    </a>
  </div>


</div>
</div>
</fieldset>


</div>
</div>
</div>
<!-- /Tab #showtab -->

<!-- Tab #edittab -->
<div class="tab-pane" id="edit">
<%= form_for(current_member,
             as: resource_name,
             url: member_account_update_path(current_member),
             html: { method: :put, class: "form-horizontal" }) do |f| %>
<div class="row-fluid">
<div class="span6">
<h4>Account</h4>
<fieldset>

<div class="control-group">
<label class="control-label" for="input">First Name</label>
<div class="controls">
  <%= f.text_field :first_name, class: "input-large" %></div>
</div>

<div class="control-group">
<label class="control-label" for="input">Last Name</label>
<div class="controls">
  <%= f.text_field :last_name, class: "input-large"  %></div>
</div>

<div class="control-group">
<label class="control-label" for="input">E-mail</label>
<div class="controls">
  <%= f.email_field :email, class: "input-large"  %>
</div>
</div>
<br/>
<br/>

<div class="control-group">
<label class="control-label" for="input">Password</label>
<div class="controls">
  <%= f.password_field :password, class: "input-large" %>
</div>
</div>

<div class="control-group">
<label class="control-label" for="input">Confirm Password</label>
<div class="controls">
  <%= f.password_field :password_confirmation, class: "input-large" %>
</div>
</div>
<p class="help-block password">Leave blank if you don't want to change password </p>
<br/>
<br/>
<div class="control-group">
<label class="control-label" for="input">Current Password</label>
<div class="controls">
  <%= f.password_field :current_password, class: "input-large" %>
<p class="help-block">Enter current password to confirm changes</p>
</div>
</div>

</fieldset>

</div>


<div class="span6">
<h4>Profile</h4>

<fieldset class="form-horizontal">
<div class="control-group">
<label class="control-label" for="input">Avatar</label>
<div class="controls">
<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-new fileupload-small thumbnail">
    <img src="img/sample_content/sample-image-50x50.png">
  </div>
<div class="fileupload-preview fileupload-exists fileupload-small thumbnail"></div>
<span class="btn btn-alt btn-file">
<span class="fileupload-new">Select image</span>
<span class="fileupload-exists">Change</span>
<%= f.file_field :avatar %>
</span>
<a href="user-profile.html#" class="btn btn-alt btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
</div>
</div>
</div>
</fieldset>

</div>
</div>

<div class="form-actions">
<button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
</div>
<% end -%>

</div>
<!-- /Tab #edittab -->

</section>
<footer>
<p>:)</p>
</footer>
</article>
<!-- /Data block -->
