<%= render 'groups/layout', :group => @group %>

<h4> Current Members </h4>

<table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
  </tr>

  <% for member in @group.members -%>
  <tr>
    <td> <%= link_to member.email, group_member_url(@group, member) %></td>
    <td> <%= member.memberships.find_by_group_id(@group.id).admin?  %> </td>
  </tr>
  <% end -%>
</table>

<div class="row-fluid">
<div class="span6">
<div class="box box-color box-bordered">
<div class="box-title">
<h3><i class="icon-user"></i>Positions</h3>
</div>

<div class="box-content nopadding">
<%= form_tag update_multiple_group_memberships_path(@group), :method => :put do |f| -%>
<table class="table table-user table-nohead">
<tbody>
<% for membership in @group.memberships.includes(:member).order(:cycle_position) -%>
  <%= fields_for "memberships[]", membership do |m| %>
  <tr>
  <td class='img'><img src="/img/demo/user-1.jpg" alt=""></td>
  <td class='user'> <%= membership.member.email %> </td>
  <td class='icon'>
    <% if @group.in_session? %>
    <strong>
    <a href="javascript:;" class='btn'><%= membership.cycle_position %></a>
    </strong>
    <% else %>
    <%= m.select :cycle_position,
    options_for_select(@group.memberships.map{|m| [m.cycle_position,
                                                   m.cycle_position]},
                                                   :selected => membership.cycle_position),
                                                   {}, {:class=>"input-mini"}  %>
    <% end %>
  </td>
  </tr>
  <% end -%>
<% end -%>
</tbody>
</table>
<% unless @group.in_session? %>
<div class="form-actions" style="padding-bottom:0;padding-left:10px">
  <%= submit_tag "Save Changes", :class => "btn btn-primary" %>
</div>
<% end %>
<% end -%>
</div>

</div>
</div>

<div class="span6">
<div class="box box-color box-bordered orange">
<div class="box-title">
<h3><i class="icon-user"></i>Invites</h3>

<% unless @group.in_session? %>
<div class="actions">
<%= link_to raw("Send Invite <i class='icon-plus'></i>"),
  new_group_invite_path(@group),
  :class => "btn btn-mini" %>
</div>
<% end %>


</div>

<div class="box-content nopadding">
<table class="table table-user table-nohead">
<tbody>
<% for invite in @group.invites -%>
  <tr>
  <td class='img'><img src="/img/demo/user-1.jpg" alt=""></td>
  <td class='user'> <%= invite.email %> </td>
  </tr>
<% end -%>
</tbody>
</table>
</div>

</div>
</div>
</div>



<div class="row-fluid">
<div class="span12">
<div class="box box-color box-bordered">

<div class="box-title">
<h3><i class="icon-user"></i>Members</h3>
</div>

<div class="user-list">
<ul>
<li>
<div class="image">
<img alt="" src="/img/demo/user-6.jpg">
</div>
<div class="username">
John Doe
</div>
</li>
<li>
<div class="image">
<img alt="" src="/img/demo/user-5.jpg">
</div>
<div class="username">
John Doe
</div>
</li>
<li>
<div class="image">
<img alt="" src="/img/demo/user-3.jpg">
</div>
<div class="username">
John Doe
</div>
</li>
<li>
<div class="image">
<img alt="" src="/img/demo/user-1.jpg">
</div>
<div class="username">
Jane Doe
</div>
</li>
<li class="invite">
<a class="btn btn-block btn-text-left" href="components-messages.html#"><i class="icon-plus-sign"></i>Send Invites</a>
<a class="btn btn-block btn-text-left btn-danger" href="components-messages.html#"><i class="icon-signout"></i> Leave Group</a>
</li>
</ul>
</div>

</div>
</div>

</div>
