body { background:#EEE; }
ul > li.white { background: #FFF; }
ul > li.white a { color:#444; }
.tiles > li { margin: 0 0 5px 5px; }
#navigation { margin-bottom:10px; }


#main{ margin: 0 10px 10px 130px; min-height:800px; }

#main .page-header-1{margin:15px 0 15px 0;padding-bottom:15px;*zoom:1;border-bottom:2px solid #EEE }
#main .page-header-1:after{content:"";display:table;clear:both}
#main .page-header-1 .pull-left h1{font-size:30px;color:#2a2a2a;line-height:24px;font-weight:400;margin:20px 0}
#main .page-header-1 .pull-left h6{color:#777;font-weight:normal;margin:0}
.user-list { margin-right: 17px; position: static;  width: 183px; }
#left { width: 125px; }

#navigation #brand {
  background: url("logo.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  float: left;
  font-size: 20px;
  margin-top: 4px;
  width: 300px;
  height:33px;
}

#navigation { margin:10px; }


#left .tiles { margin: 0; padding: 0; margin-left:5px; }

.dropdown-menu > li > a {font-family:"Open Sans",sans-serif; }
#navigation .user .icon-nav>li .theme-settings>li .version-toggle>a:hover{ background:#368EE0;color:#fff; }


.ui-spinner { width:50px;}
.ui-spinner .spinner { margin-left: 0; }
.controls { font-size:15px; }
.select-fix {position:relative;top:11px; }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border-radius: 0px; }




.cycle-stats > li { float:none; margin-right: 0; padding: 10px 15px; margin-bottom:10px; }
.cycle-stats { width:100%; }

/*.table.table-user tr td.icon { vertical-align: middle; width: 110px; }*/

.btn { color: #fff; }

.progress { margin-bottom:0; }

a:hover, a:focus { text-decoration:none; }
.table.table-user tr td.list { width: 110px; }

.accordion-group { border: 2px solid #EEE; }
.accordion { margin-top:15px; }
.control-group .section { /*margin:20px 0;*/padding:10px 0; }
.row-fluid.section { border-bottom:2px solid #EEE; }

#main .box.box-bordered .box-title { border: 2px solid #EEEEEE; }
#main .box.box-bordered .box-content { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #EEEEEE #EEEEEE; border-image: none; border-right: 2px solid #EEEEEE; border-style: none solid solid; border-width: 0 2px 2px; }

