<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Coming Soon</title>
<link href="/assets/coming-soon/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/assets/coming-soon/jquery.min.js"></script>
<script type="text/javascript" src="/assets/coming-soon/cufon-yui.js"></script>
<script type="text/javascript" src="/assets/coming-soon/Bebas_400.font.js"></script>
<script type="text/javascript" src="/assets/coming-soon/Bell_Gothic_Std_300.font.js"></script>
<script type="text/javascript">
	Cufon.replace('a.logo', {fontFamily: 'Bebas'});
	Cufon.replace('a.logo span', {fontFamily: 'Bell Gothic Std'});
</script>

</head>
<body>
<div class="main_container">
	<div class="header">
		<a class="logo" href="#">MoneyTeam$<span>who's got your back?</span></a>
	</div>
	<div class="content">
		<h1>hello.<span>It's happening real soon :)</span></h1>
		<div class="right_side">
                  <!-- <p>// <a href="#">info@the.money.team.com</a><br/>// 506-200-5871</p> -->
                  <p><a href="#">&nbsp;</a><br/>&nbsp;</p>
			<ul class="s_icons">
				<li class="fb"><a href="#"></a></li>
				<li class="tw"><a href="#"></a></li>
				<li class="in"><a href="#"></a></li>
			</ul>
		</div>
	</div>
	<form action="/" method="post" class="email">
		<input type="text" name="email" class="field" onfocus="if(this.value=='Get Notified (Email Address)') this.value='';" onblur="if(this.value=='' || this.value==' ') this.value='Get Notified (Email Address)';" value="Get Notified (Email Address)" />
		<input type="button" class="submit" />
	</form>

</div>
</body>
</html>
