home page

create group (new group form) => register (new user form) => view group



<%= flash.inspect %>

<%= form_for @group, url: site_groups_path do |f| -%>
  <p> Group Name: <%= f.text_field :name %> </p>
  <p> Each member pays <%= f.text_field :cycle_amount %> </p>
  <p> every <%= f.text_field :payment_cycle_quantity %>
      <%= f.select :payment_cycle_unit,
        options_for_select(Group.pretty_cycle_units, selected: "months") %> </p>
  <p> <%= f.submit "Save", class: "btn btn-primary" %> </p>
<% end -%>
