<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
  <!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Dashboard | MyMoneyTeam$</title>

  <%= stylesheet_link_tag "app/app", media: "all" %>
  <%= javascript_include_tag "app/app" %>
  <%= csrf_meta_tags %>

  <meta name="description" content="">
  <meta name="author" content="Walking Pixels | www.walkingpixels.com">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://template.walkingpixels.com/sangoma/img/icons/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://template.walkingpixels.com/sangoma/img/icons/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://template.walkingpixels.com/sangoma/img/icons/apple-touch-icon-57-precomposed.png">

  <script>
          $(document).ready(function(){
                  // Tooltips
                  $('[title]').tooltip({ placement: 'top' });

                  // Tabs
                  $('.demoTabs a, .demoTabs2 a').click(function (e) {
                          e.preventDefault();
                          $(this).tab('show');
                          //$('.fullcalendar').fullCalendar('render'); // Refresh jQuery FullCalendar for hidden tabs
                  })

<% unless flash.empty? %>
  <% flash.keys.each do |key| %>
    <% if key == :error %>
      $.jGrowl("<span class='flash'><%= flash[key] %></span>", { header: 'Error!', sticky: true, theme: 'red' });
      //$.jGrowl("<strong><%= flash[key] %></strong>", { header: 'Error!', sticky: true, theme: 'red' });
    <% end %>
    <% if key == :alert %>
      $.jGrowl("<span class='flash'><%= flash[key] %></span>", { sticky: true, theme: 'orange' });
    <% end %>
    <% if [:success, :notice ].include?(key) %>
      $.jGrowl("<span class='flash'><%= flash[key] %></span>", { sticky: true, theme: 'green' });
    <% end %>
    <%# if key == :notice %>
      //$.jGrowl("<span class='flash'><%= flash[key] %></span>", { sticky: true, theme: 'blue' });
    <%# end %>
  <% end %>
<% end %>

                  <%= yield :js_document_ready %>
          });
          <%= yield :javascript %>
  </script>

  <style type="text/css" media="screen">
    .flash {font-weight:bold;text-align:center;}
    <%= yield :styles %>
  </style>

</head>
<body style="overflow:scroll;background-attachment:fixed;background-image:url('/assets/SunshineClouds1.jpg');position:center">
<% if false %>
<body>
<% end -%>

<!-- Full height wrapper -->
<div id="wrapper">
<!-- Main page header -->
<header id="header" class="container">
<h1>
<!-- Main page logo -->
<a href="/hub" class="brand">Sangoma</a>

<!-- Main page headline -->
<!-- <span>A flat Bootstrap admin template</span> -->
</h1>

<% if member_signed_in? %>
<!-- User profile -->
<div class="user-profile">
<figure>

<!-- User profile avatar -->
<%= image_tag current_member.avatar.url(:thumb) %>

<!-- User profile info -->
<figcaption>
<strong><a href="javascript:;" class="">
<%= current_member.full_name %>
</a></strong>
<ul>
<% if false %>
<li><%= link_to "inbox", hub_messages_path, title: "Message Inbox" %></li>
<% end %>
<li><%= link_to "settings", edit_hub_account_path, title: "Account Settings" %></li>
<li><%= link_to "logout", destroy_member_session_path, method: :delete, title: "Logout" %></li>
</ul>
</figcaption>
<!-- /User profile info -->
</figure>
</div>
<!-- /User profile -->

<!-- Main navigation -->
<nav class="main-navigation">

<!-- Responsive navbar button -->
<div class="navbar">
<a class="btn btn-alt btn-large btn-primary btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-home"></span> Dashboard</a>
</div>
<!-- /Responsive navbar button -->

<!-- Navigation -->
<div class="nav-collapse collapse" role="navigation">
  <ul>
  <li class="active">
  <a href="<%= hub_root_path %>"><span class="icon-home"></span></a>
  </li>

  <% invites = current_member.invites %>

  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="icon-group"> </span> Teams
    <% if invites.present? %>
    <span class="badge" title="<%= pluralize(invites.count, ' Invitation') %> Pending">
    <%= invites.count %>
    </span>
    <% end %>
    </a>
    <ul class="dropdown-menu">
    <% for group in current_member.groups -%>
    <li><%= link_to raw("&nbsp;#{ group.name }"), group_path(group) %></li>
    <% end -%>

    <% if invites.present? %>
    <li class="divider"></li>
    <li>
    <%= link_to raw("<span class='awe-star'></span> Invitations"), "javascript:;" %>
    </li>
    <% for invite in invites -%>
    <li style="margin-left:20px">
    <%= link_to invite.group.name, group_path(invite.group) %>
    </li>
    <% end -%>
    <% end %>

    <li class="divider"></li>
    <li>
    <%= link_to raw("<span class='awe-plus'></span> Start New Team"),
    new_hub_group_path %>
    </li>
    </ul>
    </li>
  <li>
  <%= link_to raw("<span class='icon-credit-card'></span> Payments"), hub_payments_path %>
  </li>

  <li><a href="javascript:;"><span class="icon-question-sign"></span> Help</a></li>
  </ul>
</div>
<!-- /Navigation -->

</nav>
<!-- /Main navigation -->
<% end %>

</header>
<!-- /Main page header -->




<!-- Main page container -->
<section class="container" role="main" style="padding-top:30px">

<% if false %>
<% unless flash.empty? %>
  <% flash.keys.each do |key| %>
    <% if key == :error || key == :alert %>
      <div class="alert alert-error fade in">
      <button data-dismiss="alert" class="close">×</button>
      <strong>Error!</strong> <%= flash[key] %>
      </div>
    <% end %>

    <% if key == :success || key == :notice %>
      <div class="alert alert-success fade in">
      <button data-dismiss="alert" class="close">×</button>
      <strong> <%= flash[key] %> </strong>
      </div>
    <% end %>
  <% end %>
<% end -%>
<% end %>






<%= yield %>

</section>
<!-- /Main page container -->

<!-- Sticky footer push -->
<div id="push"></div>

</div>
<!-- /Full height wrapper -->

<!-- Main page footer -->
<footer id="footer">
  <div class="container">
    <!-- Footer info -->
    <p>Copyright © 2013 Teeclo Labs. All Rights Reserved. <a href="javascript:;">Labs</a></p>
    <!-- Footer nav -->
    <ul>
    <li><a href="javascript:;" class="">Support</a></li>
    <li><a href="javascript:;" class="">Documentation</a></li>
    <li><a href="javascript:;" class="">API</a></li>
    </ul>
    <!-- /Footer nav -->
    <!-- Footer back to top -->
    <a href="#top" class="btn btn-alt"><span class="icon-arrow-up"></span></a>
  </div>
</footer>
  <!-- /Main page footer -->
</body>
</html>
