<!DOCTYPE html>
<html>
  <head>
    <title>My Money Team</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p style="background:#cfcfcf">
    <%= flash.each do |flash| %>
    <% end -%>
    </p>

  <% if member_signed_in? %>
    <p> <%= link_to("Logout", destroy_member_session_path, method: :delete) %> </p>
  <% end %>

  <%= yield %>

  </body>
</html>
